.carousel-inner{
    width:100%;
 
    
    /* height: 60vh; */
    
   
    background: no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    background-repeat: no-repeat;
    object-fit: fill !important;
position:unset !important;
border-top-left-radius: calc(0.25rem - 1px);
border-top-right-radius: calc(0.25rem - 1px);
} 


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

   

.titulo{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color:rgb(117, 177, 64);
    font-size: 2em;
    align-items: center;
    
    
  
    margin-bottom: 1em;

}



