<div id="fondo">
<h5 id="titulo"> Z<fa-icon class=" color" [icon]="fapaw"></fa-icon>
  <fa-icon [icon]="fapaw"></fa-icon>Sh<fa-icon class="color" [icon]="fapaw"></fa-icon>p
</h5>
<h3 class="contenido">Thank you for choosing us ,we are always waiting for you!</h3>

<table class="  table 
table-striped col-lg-12 contenido" style=" width:20em; margin-top: 3em; margin-left: 30em; text-align: center;">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Descripcion</th>
      <!-- <th scope="col">Last</th>
      <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lista of listaCompras">
      <th scope="row">{{lista.fk_idproducto}}</th>
      <td>{{lista.descripcion}}</td>
     
    </tr>
  </tbody>
</table>

</div>