@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

   

#titulo{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color:white;
    font-size: 2em;
    
  
    margin-bottom: 1em;

}


#navbardise{
    background-color: rgb(117, 177, 64)!important;
    color:white;
    width: 100em;
  
    
}


#estilo-buy{
    background-color:rgb(117, 177, 64) ;
}

#estilo-buy:hover{
    background-color: #944429;
}

.estilo-card{

    border-bottom-right-radius: rgb(117, 177, 64);
}

.estilo-modal-header{
    background-color:rgb(117, 177, 64) ;

}

.estiloboton{
    background-color: #944429;
    color: white;
}

.modal{

}


.titulo2{
 
    font-family: 'Fredoka One', cursive;
    color:rgb(117, 177, 64);
    font-size: 3em;
    margin-top: 1em;

    
}

